html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    background-image: url("/images/pawel-czerwinski-e6GqM-a7O20-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    top: 0;
    width: 100%;
    color: rgb(255, 255, 255);
    overflow: hidden;
}
.button{
    background: rgb(0,0,0);
    background: linear-gradient(347deg, rgba(0,0,0,1) 34%, rgba(60,60,60,1) 100%);
    border: 5px solid rgb(39, 39, 39);
    color: white;
    padding: 4vw;
    font-weight: bold;
    border-radius: 8px;
    outline: none;
}
.contact-btn{
    background-color: transparent;
    outline: none;
    border: none;
}
#contact-img{
    height: 4.5vh;
    width: 10vw;
    float: left;
    margin-right: 3vw;
}
.dropdown {
    float: right;
    overflow: hidden;
    margin-top: 4vh;
    margin-right: 2vh;
  }
  .dropdown .button {
    color: white;
    background-color: transparent;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: none;
    margin-right: 6vw;
    margin-top: 3vh;
  }
  .dropdown-content {
      margin-top: 8vh;
      left: 5vw;
    position: absolute;
    background-color: inherit;
    min-width: 300px;
    overflow: hidden;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;

  }
  
  .dropdown-content h2 {
      font-size: 5vw;
    float: left;
    color: rgb(252, 252, 252);
    text-decoration: none;
    display: block;
    text-shadow: 3px 3px rgba(0,0,0,1);
  }
  .dropdown-email{
      transform: translateX(170%);
      transition: all 0.8s ease;
      margin-top: 0;
      text-decoration: none;
  }
  .dropdown-tel{
    transform: translateX(-260%);
      transition: all 0.8s ease;
      margin-top: 3vh;
      text-decoration: none;
      color: white;
  }
  .show {
      transform: translateX(0);
    
    }
  #contact-btn{
      margin-top: 3vh;
  }
#logo{
    float: left;
    margin-left: 5vw;
    margin-top: 5vh;
    color: white;
    font-size: 2em;
    text-shadow: 3px 3px rgba(0,0,0,1);
    position: absolute;
    font-weight: 1000;
}
.first-section{
    margin-top: 24vh;
    width: 100%;
    height: 65vh;
    clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 80%);
    background-color: #131313;
}
.smart-txt{
    margin-top: 12vh;
    height: 50vh;
    width: 100%;
    position: absolute;

}
.passion-txt{
    color: white;
    margin-left: 5vw;
    font-size: 2em;
    text-shadow: 0.3em 0.3em black;
    font-weight: bold;
}
.passion-txt span{
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.first-section .smart-txt .passion-txt span.fade{
    opacity: 1;
}
.second-section{
    margin-top: -5vh;
    padding-top: 25vh;
    width: 100%;
    height: 80vh;
    clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
    background-color: #0f0f0f;
    color: white;
    padding-bottom: 5vh;
}


#work-btn{
    margin-top: 3vh;
    margin-left: 43vw;
    width: 40vw;
}
.third-section{
    margin-top: -20vh;
    padding-top: 25vh;
    width: 100%;
    height: 60vh;
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
   background-color: black;
}
.container{ 
    background: rgb(0,0,0);
    background: linear-gradient(347deg, rgba(0,0,0,1) 34%, rgba(60,60,60,1) 100%);
    margin-bottom: 5vh;
    margin: 5vw;
    width: 35vw;
    height: 23vh;
    text-align: center;
    padding: 2vw;
    padding-right: 0;
    border-radius: 8px;
}
.container h2{
    font-size: 0.6em;
    text-align: left;
}
.container p{
    margin-top: 5vh;
    font-size: 0.6em;
    text-align: left;
}
.skills{
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 30vh 30vh;
    gap: 0px 0px;
    grid-template-areas:
      "responsive mobile"
      "dynamic contact";
}
.responsive { grid-area: responsive; }

.mobile { grid-area: mobile; }
.dynamic { grid-area: dynamic; }
.contact { grid-area: contact; }
.container-icon{
    height: 3.8vh;
    width: 8vw;
    float: left;
    margin-right: 3vw;
}
#responsive-img{
    width: 10vw;
    height: 4.2vh;
    margin-right: 2vw;
}
.third-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: #131313;
    padding-bottom: 15vh;
}
input{
    margin: 3vh;
    background-color: #1d1d1dbe;
    border: 3px solid rgb(39, 39, 39);
    border-radius: 8px;
    padding-left: 2vw;
    color: white;
    outline: none;
}
textarea{
    margin: 3vh;
    background-color: #1d1d1dbe;
    border: 3px solid rgb(39, 39, 39);
    border-radius: 8px;
    padding-left: 2vw;
    color: white;
    outline: none;
}
#message{
    width: 60vw;
    height: 20vh;
}
#submit-btn{
    width: 35vw;
}