html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background: #161623;
}
body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#00ff15, #0077ff);
    clip-path: circle(30% at right 70%);
}
body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#00ff6a, #0014ff);
    clip-path: circle(20% at 10% 10%);
}

.navbar{
    top: 0;
    width: 100%;
    color: rgb(255, 255, 255);
    overflow: hidden;
}
.button{
    background: rgb(0,0,0);
    background: linear-gradient(347deg, rgba(0,0,0,1) 34%, rgba(60,60,60,1) 100%);
    border: none;
    box-shadow: 0.2em 0.2em rgba(0, 0, 0, 0.493);
    color: white;
    padding: 4vw;
    font-weight: bold;
    border-radius: 8px;
    outline: none;
}
.contact-btn{
    background-color: transparent;
    outline: none;
    border: none;
}
#contact-img{
    height: 4.5vh;
    width: 10vw;
    float: left;
    margin-right: 3vw;
}
.dropdown {
    float: right;
    overflow: hidden;
    margin-top: 2.5vh;
    margin-right: 3vw;
  }
  .dropdown .button {
    color: white;
    background-color: transparent;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: none;
    margin-right: 6vw;
    margin-top: 3vh;
  }
  .dropdown-content {
      margin-top: 4vh;
      left: 5vw;
    position: absolute;
    background-color: transparent;
    min-width: 300px;
    overflow: hidden;
    z-index: 1;

  }
  
  .dropdown-content h2 {
      font-size: 5vw;
    float: left;
    color: white;
    text-decoration: none;
    display: block;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.801);
  }
  .dropdown-email{
      transform: translateX(170%);
      transition: all 0.8s ease;
      margin-top: 0;
      text-decoration: none;
  }
  .dropdown-tel{
    transform: translateX(-260%);
      transition: all 0.8s ease;
      margin-top: 3vh;
      text-decoration: none;
      color: white;
  }
  .show {
      transform: translateX(0);
    
    }
  #contact-btn{
      margin-top: 3vh;
  }
#logo{
    float: left;
    margin-left: 20vw;
    margin-top: 2vh;
    color: rgb(255, 255, 255);
    position: absolute;
    z-index: 2;
}
#logo p{
    font-size: 2em;
    margin: 0;
    margin-left: 46vw;
    margin-top: 24.5vh;
    position: absolute;
}
#logo h2{
    font-size: 5em;
    margin: 0;
    position: absolute;
    margin-top: 26vh;
}
.smart-txt{
    margin-top: 40vh;
    height: 50vh;
    width: 100%;
    position: absolute;

}
.passion-txt{
    color: white;
    margin-left: 5vw;
    font-size: 2em;
    text-shadow: 0.1em 0.1em black;
    font-weight: bold;
}
.passion-txt span{
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.smart-txt .passion-txt span.fade{
    opacity: 1;
}

#work-btn{
    margin-top: 3vh;
    margin-left: 43vw;
    width: 40vw;
}
.work-page{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .05);
    z-index: 3;
    backdrop-filter: blur(10px);
    transform: translateX(100%);
    transition: all 0.4s ease;
}
.slide-in{
    transform: translateX(0);
    position: fixed;
}
.third-circle{
    margin-top: 100vh;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background: linear-gradient(#00c3ff, #ff00dd);
    clip-path: circle(45% at 10% 40%);
}
.container{ 
    box-shadow: 20px 20px 50px rgba(0, 0, 0, .5);
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    margin-bottom: 5vh;
    margin: 5vw;
    width: 35vw;
    height: 23vh;
    text-align: center;
    padding: 2vw;
    border-radius: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(7px);    
    backdrop-filter: blur(7px);
    z-index: 2;
    color: white;
    text-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.493);
   
}
.container h2{
    font-size: 0.8em;
    text-align: left;
    font-weight: bold;
}
.container p{

    margin-top: 2.2vh;
    font-size: 0.7em;
    text-align: center;
    line-height: 2em;
}
.skills .container .content{
    transition: 0.5s;
    transform: translateY(10px);
    width: 100%;
    height: 100%;
}
.skills .container:hover .content{
    transition: 0.5s;
    transform: translateY(0px);
}

.skills{
    background-color: transparent;
    margin-top: 85vh;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 30vh 30vh;
    gap: 0px 0px;
    grid-template-areas:
      "responsive mobile"
      "dynamic database";
}
#responsive { grid-area: responsive; }

#mobile { grid-area: mobile; }
.dynamic { grid-area: dynamic; }
#database { grid-area: database; }
.container-icon{
    height: 3.8vh;
    width: 8vw;
    float: left;
    margin-right: 3vw;
}
#responsive-img{
    width: 10vw;
    height: 4.2vh;
    margin-right: 2vw;
}
.third-section{
    width: 100%;
    height: 60vh;
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
    margin-top: 10vh;
    padding-top: 20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: #131313;
    padding-bottom: 15vh;
}
.border{
    width: 100%;
    height: 61vh;
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
    margin-top: 8vh;
    padding-top: 20vh;
    padding-bottom: 15vh;
    background: linear-gradient(#a621f373, #e91e63);
    position: absolute;
    -webkit-backdrop-filter: blur(10px);    
    backdrop-filter: blur(10px);
    box-shadow: inset 0px 0px 40px 40px #32dbc4;
}
input{
    margin: 3vh;
    background-color: #1d1d1dbe;
    border: 3px solid rgb(39, 39, 39);
    border-radius: 8px;
    padding-left: 2vw;
    color: white;
    outline: none;
}
textarea{
    margin: 3vh;
    background-color: #1d1d1dbe;
    border: 3px solid rgb(39, 39, 39);
    border-radius: 8px;
    padding-left: 2vw;
    color: white;
    outline: none;
}
#message{
    width: 60vw;
    height: 20vh;
}
#submit-btn{
    width: 35vw;
}