body{
    margin: 0;
    padding: 0;
    background-image: url("https://images.unsplash.com/photo-1605027340742-6963ecef956f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Noto Serif', serif;
    height: 100vh;
}
li{
    display: inline-block;
    margin-right: 2vw;

}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 0.7em;
    font-weight: 600;
}
h1{
    font-size: 8em;
}
h2{
    font-size: 5em;
    text-align: left;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.8);
    margin-left: 2vw;
    margin-top: 0;
}
p{
    text-shadow: 3px 2px rgba(0, 0, 0, 0.8);
    margin-top: 0;
    font-size: 3vh;
}
.navbar{
    top: 0;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: end;
    -ms-flex-pack: end;
        justify-content: flex-end;
width: 100%;
position: fixed;
}
.nav-button{
    height: 5vh;
    border: none;
    font-size: 3vh;
}
.intro{
    margin-top: 12vh;
    margin-left: 5vh;
    color: white;
    width: 50vh;
    position: relative;
}
.containers{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    right: 0;
    width: 100%;

}
.containers::-webkit-scrollbar{display:none}

.container{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    height: 65vh;
    width: 40vh;
    margin: 0 auto;
    margin-top: 5vh;
    position: relative;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.808);
    margin-left: 8vh;
    border-radius: 30px;
    margin-bottom: 3vh;
    border-radius: 15px;
}
.container h2{
    position: absolute;
    left: 23vw;
}
.container-icon{
    height: 8vh;
    width: 20vw;
    position: absolute;
    left: 0;
}
#bread{
    margin-top: 10vh;
    height: 30vh;
    width: 40vh;
}
.order-button{
    width: 40%;
    height: 4vh;
    background-color: #cc9e07;
    border: none;
    border-radius: 50px;
    font-size: 3vh;
    
}
.order-button a{
    color: black;
}

@media(min-width:1200px){
    h2{
        font-size: 3em;
        text-align: left;
        text-shadow: 4px 4px rgba(0, 0, 0, 0.8);
        margin-left: 2vw;
        margin-top: 0;
    }
    .container h2{
        position: absolute;
        left: 3.5vw;
    }
    .container-icon{
        height: 8vh;
        width: 5vw;
        position: absolute;
        left: 0;
    }
}