*{
    margin: 0;
    padding: 0;
}
html, body{
    min-width: 100%;
    top: 0;
    background-color: black;
}
header{
    top: 0;
    height: 7.8rem;
    overflow: hidden;
    background: linear-gradient(160deg, rgba(63,255,124,1) 0%, rgba(30,255,223,1) 100%);
}
.premium-txt{
 background-image: linear-gradient(45deg, #3fff7cff, #1effdfff);
    -webkit-background-clip: text;background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}
.wave{
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    height: 120px;
    background: url("./images/wav-upp.png");
    background-size: 450px 40px;
    background-repeat: no-repeat;
}

header a{
    float: right;
    text-decoration: none;
    padding: 1rem 1rem 0 0.5rem;
    font-size: 1.1em;
    color: rgb(0, 0, 0);
    font-family: 'Source Sans Pro', sans-serif;
}
header a:hover{
    transition: all 0.5s ease;
    transform: scale(1.1);
    color: black;
}
.logo{
    float: left !important;
    padding: 1.5rem 0 0 1rem;
    font-size: 2rem;
    font-weight: 1000;
    font-family: 'Source Sans Pro', sans-serif;
}
.section{
    background-color: black;
    height: auto;
    padding: 5rem 0 2rem 0;
    box-shadow: 0px 25px 40px rgb(0, 0, 0);
    border-radius: 30px;
}
#first-section{
    border-radius: 0;
    height: 85vh;
}
#second-section{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
#second-section, #fourth-section{
    background-color: rgb(20, 20, 20);
}
.intro{
    margin: 0 auto;
    width: 90%;
    margin-bottom: 5rem;
    text-align: center;
    line-height: 3rem;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;

}
.intro h1{
    font-size: 2.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-kerning: normal;
}
.intro h2{
    font-size: 2.4rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-kerning: normal;
}
.signup{
    width: 75%;
    margin: 0 auto;
    margin-top: 6rem;
    height: 12rem;
    background: linear-gradient(160deg, rgba(63,255,124,1) 0%, rgba(30,255,223,1) 100%);
    border-radius: 15px;
}
.signup-form{
    width: 85%;
    margin: 0 auto;
    text-align: center;
}
.signup-email{
    width: 100%;
    height: 3rem;
    border-radius: 30px;
    position: relative;
    top: -1rem;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.808);
    padding-left: 1rem;
    border: dashed black 3px;
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.109);
    box-shadow: 12px 12px 30px rgba(0, 0, 0, 0.747);
    outline: none;
}
.signup-email::placeholder{
    color: rgb(0, 0, 0);
}
.signup-text{
    color: rgb(0, 0, 0);
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-kerning: normal;
}
.signup-submit{
    height: 2.5rem;
    width: 60%;
    font-size: 1.2em;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 25px;
    border: none;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.596);
    cursor: pointer;
    background-color: black;
    color: white;
}
.occasion{font-size: 2rem;}
.premium-btn{
    background:  linear-gradient(160deg, rgba(63,255,124,1) 0%, rgba(30,255,223,1) 100%);
    color: black;
    font-size: 1.4rem;
    margin-top: -3rem;
    margin: 0 20% 0 20%;
    width: 10rem;
}
.signup-submit:hover{
    transition: all 0.3s ease;
    transform: scale(0.9);
    box-shadow: none;
}
.containers{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#containers-free{
    color: white;
}
.underlined-text{
    padding-bottom: 1rem;
    border-bottom: solid 1px rgba(255, 255, 255, 0.356);
    color: white;
    text-align: center;
}
.container{
    width: 45%;
    height: 12rem;
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "icon"
      "offer-text"; 
      justify-content: center; 
      justify-items: center; 
      align-items: center; 
    background-color: rgba(255, 255, 255, 0.068);
    border-radius: 20px;
    margin: 0 0.5rem 1.5rem 0.5rem;
    font-family: 'Source Sans Pro', sans-serif;
}
.icon { grid-area: icon; padding-top: 0.5rem;}
.offer-text { grid-area: offer-text; text-align: center;font-kerning: normal;}
.pro-font{
    font-weight: 1000;
    font-size: 1.2em;
}
.twox-icon{
    font-size: 4rem;
    font-weight: 1000;
    margin: 0;
}
.premium-container{
    color: rgb(0, 0, 0);
    background: linear-gradient(160deg, rgba(63,255,124,1) 0%, rgba(30,255,223,1) 100%);
}
#third-section h3{
    color: white;
    font-size: 1.8rem;
}
.about-intro{
    margin-bottom: 0;
}
.about-text{
    max-width: 90%;
    border-radius: 25px;
    padding: 2rem 2rem 2rem 2rem;
    margin: 0 auto;
    color: white;
    font-size: 1.2rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}
.expand-btn{
    display: block;
    font-size: 1rem;
    width: 7rem;
    border-radius: 15px;
    margin: 0 auto;
    padding: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    color: #ffffff;
}
.expand-btn::after{
    content: '\25be';
    float: right;
    transform: scale(3);
}
.expand-btn--active{display: none;}
.expand-more{
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s;
    width: 100%;
    border-radius: 25px;
    margin: 0 auto;
    margin-bottom: 2rem;
}
.opinions{
    max-height: 25rem;
    overflow: hidden;
    overflow-y: scroll;
}
.opinions::-webkit-scrollbar {
    display: none;
  }
.opinion-container{
    font-family: 'Source Sans Pro', sans-serif;
    width: 90%;
    display: grid; 
    grid-template-columns: 5rem; 
    grid-gap: 10px;
    grid-template-rows: auto; 
    grid-template-areas: 
      "avatar opinion-content"; 
    box-shadow: 7px 7px 24px rgb(0, 0, 0);
    margin: 0 auto;
    margin-top: 3rem;
    padding: 0 1rem 1rem 1rem;
    overflow: hidden;
    border-radius: 25px;
    background: rgb(34, 34, 34);
    color: white;
}
.opinion-content {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto; 
    grid-template-areas: 
      "opinion-name"
      "opinion-stars"; 
    grid-area: opinion-content; 
}
.opinion-name { 
    grid-area: opinion-name; 
    padding-top: 1rem;
    font-size: 2rem;
}
.opinion-txt {
    grid-area: opinion-stars; 
}
.avatar { grid-area: avatar; max-width: 5rem; height: 5rem; border-radius: 50%;  justify-self: center; align-self: center; }
.bottom-form{
    height: 12rem;
    margin-bottom: 5rem;
}
#ending-intro{
    margin-top: 5rem;
}
#lower-signup-txt{
    font-size: 1rem;
    margin-bottom: 1rem;
}
.wave-lower{
    position: relative;
    top: -1rem;
    left: -1rem;
    width: 110%;
    height: 80px;
    background: url("./images/wave-low.png");
    background-size: 590px 80px;
}
footer{
    font-family: 'Source Sans Pro', sans-serif;
    height: 12rem;
    background: linear-gradient(160deg, rgba(63,255,124,1) 0%, rgba(30,255,223,1) 100%);
}
.footer-content{
    display: flex;
    width: 100%;
    height: 9rem;
}
  .contact-info {position: absolute; left: 0.5rem; font-size: 1.1rem;  font-weight: 600; }
  .contact-info p{margin: 0;}
  .copyright {position: absolute; right: 1rem; font-size: 1em; color: rgb(0, 0, 0); padding-top: 4rem;margin-left: 6rem;}
  .media-icons{position: absolute; right: 0;}
  .media-icons a{color: black; margin-left: 0.8rem;}
  
@media(min-width: 1200px){
    #first-section{
        height: 100vh;
    }
    .logo{
        padding: 2rem 0 0 3rem;
        font-size: 4em;
    }
    header a{
        padding: 2rem 3rem 0rem 3rem;
        font-size: 2em;
    }
    .wave{
        bottom: -2sem;
        background-size: 100vw 45px;
    }
    .wave-lower{
        width: 110%;
        height: 60px;
        background-size: 100% 60px;
    }
    .intro{
        margin-bottom: 8rem;
        margin-top: 3rem;
        font-size: 2vw;
    }
    .intro h2{
        font-size: 6rem;
        margin-bottom: 3rem;
    }
    .intro h1{
        font-size: 5vw;
    }
    .signup{
        width: 50%;
        height: auto;
        padding: 0 2rem 2rem 2rem;
        border-radius: 40px;
    }
    .signup-email{
        height: 6rem;
        font-size: 2em;
    }
    .signup-text{
        font-size: 1.5vw;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
    #lower-signup-txt{
        font-size: 1.5vw;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .signup-submit{
        height: 6rem;
        font-size: 2em;
    }
    .twox-icon{
        font-size: 6vw;
    }
    .container{
        width: 22rem;
        height: 24rem;
        margin: 0 4rem 4rem 0;
        font-size: 2em;
    }
    .premium-btn{
        width: 10vw;
        border-radius: 40px;
        margin-top: -6vh;
    }
    .occasion{font-size: 3vw;}
    .about-text{
        width: 60%;
        font-size: 1.4vw;
    }
    .opinion-container{
        width: 50%;
        min-height: 10rem;
    }
    .bottom-form{
        height: 30rem;
    }
    .footer-content{
        justify-content: center;
    }
    .contact-info{
        font-size: 1.5rem;
    }
    .media-icons{position: inherit; padding-top: 1rem; font-size: 2.5rem;}
    .media-icons a i{
        margin: 0 3rem 0 3rem;
    }
    .copyright{
        margin-top: 2rem;
    }
}
